<mat-toolbar>
  <span *ngIf="!(isAuthenticated | async)">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
    </a>  
  </span>
  <span *ngIf="(isAuthenticated | async)">
    <a routerLink="/wishlists">
      <p>Wishlists</p>
    </a>  
  </span>
  <span class="spacer"></span>
  <span *ngIf="!(isAuthenticated | async)">
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  </span>
  <span *ngIf="isAuthenticated | async">
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
<p class="error center">{{errorMessage | async}}</p>
