<h1>{{wishlist.name}}</h1>
<button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="openDialog()">
    <mat-icon>plus_one</mat-icon>
</button>
<div *ngFor="let card of dataSource;">
    <mat-card class="card">
        <img mat-card-image [src]="card.card_images[0].image_url" [alt]="card.name">
        <mat-card-actions>
            <button mat-button color="warn"> 
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </mat-card-actions>
        </mat-card>
</div>
